html, body {
    background: black;
    color: white;
    /* font below */
    font-family: 'Bebas Neue'; 
}

#title {
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
}
#title #subtitle {
    font-size: 0.75em;
    text-align: center;
    opacity: 0.7;
}
#title #border {
    height: 1px; width: 100px;
    background: white;
    margin: 0 auto;
    margin-top: 0.2em;
}

#content {
    text-align: center;
    margin-top: 10%;
}
#content .logo-element {
    display: inline-block;
    height: 13em; width: 13em;
    margin: 1em;
    transition: all .7s ease-in-out;
}
#content .logo-element:hover {
    transform: rotate(360deg);
    filter: hue-rotate(230deg);
}
#content #legend {
    font-size: 1.5em;
    margin-top: 1em;
    animation-duration: 1s;
    animation-name: colorsparty;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#footer {
    margin-top: 10%;
    text-align: center;
}