html, body {
    color: white;
    /* font below */
    font-family: 'Nafta', Arial, Helvetica, sans-serif;
}

#background {
    position: fixed; top: 0; left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at center, black 50%, rgba(0, 0, 0, 0.9) 100%);
    z-index: -2;
}
#background #grain {
    content: '';
    background-image: url('../images/noise-white.png');
    background-repeat: repeat;
    background-size: 200px;
    position: absolute; top: -50%; left: -50%;
    width: 200vw;
    height: 200vh;
    animation: grain 1.5s steps(6) infinite;
    -webkit-animation: grain 1.5s steps(6) infinite;
    -moz-animation: grain 1.5s steps(6) infinite;
    -ms-animation: grain 1.5s steps(6) infinite;
    -o-animation: grain 1.5s steps(6) infinite;
    z-index: -1;
    opacity: 0.2;
}

@keyframes grain {
    0%, 100% {transform: translate(0, 0);}
    10% {transform: translate(-5%, 10%);}
    30% {transform: translate(20%, -15%);}
    50% {transform: translate(-12%, 9%);}
    70% {transform: translate(9%, -20%);}
    90% {transform: translate(-15%, 7%);}
}
@-webkit-keyframes grain {
    0%, 100% {transform: translate(0, 0);}
    10% {transform: translate(-5%, 10%);}
    30% {transform: translate(20%, -15%);}
    50% {transform: translate(-12%, 9%);}
    70% {transform: translate(9%, -20%);}
    90% {transform: translate(-15%, 7%);}
}
@-moz-keyframes grain {
    0%, 100% {transform: translate(0, 0);}
    10% {transform: translate(-5%, 10%);}
    30% {transform: translate(20%, -15%);}
    50% {transform: translate(-12%, 9%);}
    70% {transform: translate(9%, -20%);}
    90% {transform: translate(-15%, 7%);}
}
@-ms-keyframes grain {
    0%, 100% {transform: translate(0, 0);}
    10% {transform: translate(-5%, 10%);}
    30% {transform: translate(20%, -15%);}
    50% {transform: translate(-12%, 9%);}
    70% {transform: translate(9%, -20%);}
    90% {transform: translate(-15%, 7%);}
}
@-o-keyframes grain {
    0%, 100% {transform: translate(0, 0);}
    10% {transform: translate(-5%, 10%);}
    30% {transform: translate(20%, -15%);}
    50% {transform: translate(-12%, 9%);}
    70% {transform: translate(9%, -20%);}
    90% {transform: translate(-15%, 7%);}
}

#title {
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
}
#title #subtitle {
    font-size: 0.75em;
    text-align: center;
    opacity: 0.7;
}

@keyframes eye-frames {
    from { object-position:    0px; }
      to { object-position: -880px; }
}
@-webkit-keyframes eye-frames {
    from { object-position:    0px; }
      to { object-position: -880px; }
}
@-moz-keyframes eye-frames {
    from { object-position:    0px; }
      to { object-position: -880px; }
}
@-ms-keyframes eye-frames {
    from { object-position:    0px; }
      to { object-position: -880px; }
}
@-o-keyframes eye-frames {
    from { object-position:    0px; }
      to { object-position: -880px; }
}

#content {
    text-align: center;
    margin-top: 10%;
}
#content a {
    display: inline-block;
    cursor: pointer;
}
#content a .logo-element {
    display: inline-block;
    height: 220px; width: 220px;
    margin: 1em;
    object-position: top left;
    object-fit: cover;
}
#content a:hover .logo-element, #content a:focus .logo-element, #content a:active .logo-element {
    animation: eye-frames .4s steps(4) infinite;
    -webkit-animation: eye-frames .4s steps(4) infinite;
    -moz-animation: eye-frames .4s steps(4) infinite;
    -ms-animation: eye-frames .4s steps(4) infinite;
    -o-animation: eye-frames .4s steps(4) infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
}
#content #legend {
    font-size: 1.5em;
    margin-top: 1em;
}

#footer {
    margin-top: 10%;
    margin-bottom: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
